.wrapper{
    margin-left: 5rem;
}

.wrapper{
    width: calc(100% - 5rem);
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.2fr 1.5fr 0.8fr;
    grid-template-areas: 
    "header header header"
    "content1 content2 content3"
    "main main main"
    "footer footer footer";
    grid-gap: 0.2rem;
}

#header{
    background-color: var(--blue1);

    grid-area: header;
}

#section1{
    background-color: var(--blue2);

    grid-area: content1;
}
#section2{
    background-color: var(--blue3);

    grid-area: content2;
}
#section3{
    background-color: var(--blue4);

    grid-area: content3;
}

#main{
    background-color: var(--blue5);
    
    grid-area: main;
}
#footer{
    background-color: var(--blue6); 

    grid-area: footer;
}

@media only screen and (max-width: 600px){
    .wrapper{
        width: 100%;
        height: calc(100vh - 5rem);
        margin-left: 0;
        margin-top: 5rem;    
    }

    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 3fr 2fr 2fr 2fr 1.4fr;
        grid-template-areas: 
        "header"
        "main"
        "content1"
        "content2"
        "content3"  
        "footer";
    }
}