.wrapper{
    width: 100%;
    min-height: 100vh;
}

.wrapper-layout{
    display: grid;
    grid-template-columns: auto 27% 27% 27%;
    grid-template-rows: 8% 30% auto 10%;
    grid-template-areas:
    "sidebar header header header"
    "sidebar section1 section2 section3"
    "sidebar main main main"
    "sidebar footer footer footer";
}

.aside{
    grid-area: sidebar;
    /* background-color: var(--blue1); */
}

.header{
    grid-area: header;
    background-color: var(--blue2);
}

.section1{
    grid-area: section1;
    background-color: var(--blue3);
}

.section2{
    grid-area: section2;
    background-color: var(--blue4);
}

.section3{
    grid-area: section3;
    background-color: var(--blue5);
}

.main{
    grid-area: main;
    background-color: var(--blue6);
}

.footer{
    grid-area: footer;
    background-color: var(--blue7);
}

/* @media screen and (max-width: 768px){
    .wrapper-layout{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
        "sidebar"
        "header"
        "section1"
        "section2"
        "section3"
        "main"
        "footer";
    }
} */