html{
    font-size: 62.5%;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar{
    width: .4rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

body{
    font-size: 1.6rem;
}