:root{
    /* bold */
    --blue1: #03045E;
    --blue2: #023E8A;
    --blue3: #0077B6;

    /* normal */
    --blue4: #0096C7;
    --blue5: #00B4D8;
    --blue6: #48CAE4;

    /* light */
    --blue7: #90E0EF;
    --blue8: #ADE8F4;
    --blue9: #CAF0F8;

    /* palette */
    --palette1: #1d2d50;
    --palette2: #133b5c;
    --palette3: #1e5f74;
    --palette4: #fcdab7;
}