.main-container{
    width: 100%;
    height: 100%;

    background-color: var(--palette3);
}

.btn-main{
    color: #fff;
    border: 2px solid #ccc;
    padding: 1.6rem 5rem;

    transition: all 0.4s linear;

    position: relative;
}

.btn-main:before{
    content: "";
    background-color: var(--blue4);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.btn-main:hover{
    color: var(--palette4);
    background-color: var(--blue4);
}

@media screen and (max-width: 1070px){
    .main-container{
        display: flex;
        flex-flow: column wrap;
    }

    .btn-main{
        width: 50%;
    }

    .btn-main:not(:last-child){
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 660px){
    body{
        font-size: 1rem;
    }

    .btn-main{
        width: 100%;
    }
}

@media screen and (min-width: 1070px){
    .btn-main:not(:last-child){
        margin-right: 1rem;
    }
}