.navbar{
    background-color: var(--palette1);

    position: fixed;
}

.navbar:hover .navlink-logo{
    transform: rotate(-180deg);
}

.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-item{
    width: 100%;
}

.navlink{
    height: 5rem;
    color: var(--palette4);
    filter: grayscale(100%) opacity(0.7);
    transition: all .2s;

    display: flex;
    align-items: center;
}

.navlink:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--palette2);
}

.navlink-text{
    display: none;
    margin-left: 1rem;
}

.navlink-icon{
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* logo */
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.navlink-logo{
    transform: rotate(0deg);
    transition: all .2s;
}
 
@media screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .navlink-text{
        display: block;
    }
    
}

@media screen and (max-width: 600px){
    .navbar{
        top: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display: none;
    }

    .navbar-list{
        flex-direction: row;
    }

    .navlink{
        justify-content: center;
    }

    .main-content{
        margin: 0;
    }
}