.navbar{
    width: 5rem;
    height: 100vh;

    transition: all .2s ease;
    background-color: var(--palette1);
}

/* when hover */
.navbar:hover{
    width: 100%;
}
.navbar:hover .navlink-text{
    display: block;
}

.navbar:hover .navlink-logo{
    transform: rotate(-180deg);
}

.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-item{
    width: 100%;
}

.navlink{
    height: 5rem;
    color: var(--palette4);
    filter: grayscale(100%) opacity(0.7);
    transition: all .2s;

    display: flex;
    align-items: center;
}

.navlink:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--palette2);
}

.navlink-text{
    display: none;
    margin-left: 1rem;
}

.navlink-icon{
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* logo */
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.navlink-logo{
    transform: rotate(0deg);
    transition: all .2s;
}

@media screen and (max-width: 768px){

}