.section2-card{
    width: 100%;
    height: 100%;
    padding: 1rem;
    line-height: 1.8;
    background-color: var(--palette2);
    color: var(--palette4);
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    justify-content: center;
}