.section1-container{
    background-color: var(--palette2);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-image{
    width: 45%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.section1-image:hover{
    transform: scale(1.1);
}